<?xml version="1.0"?>
<!--
  Used to load the calibrate RGB-D camera nodes.

  Usage:
    roslaunch wp3_calibrator calibrate.launch
-->

<launch>
<param name ="/use_sim_time" value="false"/>

<!--Start Rosbag playback to recreate MDPI journal calibration-->
<param name ="/use_sim_time" value="true"/>
<node pkg="rosbag" type="play" name="player" output="screen" launch-prefix="xterm -e" args="--clock -l -r 1  /mnt/work/201812-Journal/20181214-14-11-48.bag"/>
<!--/mnt/work/201812-Journal/20181214-14-11-48.bag"/>-->
<!--$(find wp3_calibrator)/20181214-14-11-48.bag"-->


<!-- Opening Rviz for visualization -->
<node name="rviz" pkg="rviz" type="rviz" args="-d $(find wp3_calibrator)/visualization_config.rviz" />



<!-- Calibration parameters -->
<arg name="num_sensors"   default="6" />

<arg name="sensor_0_id"   default="jetson1" />
<arg name="sensor_1_id"   default="jetson2" />
<arg name="sensor_2_id"   default="jetson3" />
<arg name="sensor_3_id"   default="jetson4" />
<arg name="sensor_4_id"   default="jetson5" />
<arg name="sensor_5_id"   default="jetson6" />

<!-- Launching calibration -->
<node pkg="wp3_calibrator" type="calibrate" name="calibrate" output="screen">
<param name="num_sensors"           value="$(arg num_sensors)" />

<param name= "sensor_0/name"        value= "$(arg sensor_0_id)" />
<param name="~sensor_0/color"       value="/$(arg sensor_0_id)/sd/image_color_rect" />
<param name="~sensor_0/depth"       value="/$(arg sensor_0_id)/sd/image_depth_rect" />
<param name="~sensor_0/cloud"       value="/$(arg sensor_0_id)/sd/points" />
<param name="~sensor_0/camera_info" value="/$(arg sensor_0_id)/sd/camera_info" />
<param name="~sensor_0/tf"          value= "$(arg sensor_0_id)_ir_optical_frame" />

<param name= "sensor_1/name"        value= "$(arg sensor_1_id)" />
<param name="~sensor_1/color"       value="/$(arg sensor_1_id)/sd/image_color_rect" />
<param name="~sensor_1/depth"       value="/$(arg sensor_1_id)/sd/image_depth_rect" />
<param name="~sensor_1/cloud"       value="/$(arg sensor_1_id)/sd/points" />
<param name="~sensor_1/camera_info" value="/$(arg sensor_1_id)/sd/camera_info" />
<param name="~sensor_1/tf"          value= "$(arg sensor_1_id)_ir_optical_frame" />

<param name= "sensor_2/name"        value= "$(arg sensor_2_id)" />
<param name="~sensor_2/color"       value="/$(arg sensor_2_id)/sd/image_color_rect" />
<param name="~sensor_2/depth"       value="/$(arg sensor_2_id)/sd/image_depth_rect" />
<param name="~sensor_2/cloud"       value="/$(arg sensor_2_id)/sd/points" />
<param name="~sensor_2/camera_info" value="/$(arg sensor_2_id)/sd/camera_info" />
<param name="~sensor_2/tf"          value= "$(arg sensor_2_id)_ir_optical_frame" />

<param name= "sensor_3/name"        value= "$(arg sensor_3_id)" />
<param name="~sensor_3/color"       value="/$(arg sensor_3_id)/sd/image_color_rect" />
<param name="~sensor_3/depth"       value="/$(arg sensor_3_id)/sd/image_depth_rect" />
<param name="~sensor_3/cloud"       value="/$(arg sensor_3_id)/sd/points" />
<param name="~sensor_3/camera_info" value="/$(arg sensor_3_id)/sd/camera_info" />
<param name="~sensor_3/tf"          value= "$(arg sensor_3_id)_ir_optical_frame" />

<param name= "sensor_4/name"        value= "$(arg sensor_4_id)" />
<param name="~sensor_4/color"       value="/$(arg sensor_4_id)/sd/image_color_rect" />
<param name="~sensor_4/depth"       value="/$(arg sensor_4_id)/sd/image_depth_rect" />
<param name="~sensor_4/cloud"       value="/$(arg sensor_4_id)/sd/points" />
<param name="~sensor_4/camera_info" value="/$(arg sensor_4_id)/sd/camera_info" />
<param name="~sensor_4/tf"          value= "$(arg sensor_4_id)_ir_optical_frame" />

<param name= "sensor_5/name"        value= "$(arg sensor_5_id)" />
<param name="~sensor_5/color"       value="/$(arg sensor_5_id)/sd/image_color_rect" />
<param name="~sensor_5/depth"       value="/$(arg sensor_5_id)/sd/image_depth_rect" />
<param name="~sensor_5/cloud"       value="/$(arg sensor_5_id)/sd/points" />
<param name="~sensor_5/camera_info" value="/$(arg sensor_5_id)/sd/camera_info" />
<param name="~sensor_5/tf"          value= "$(arg sensor_5_id)_ir_optical_frame" />

</node>

</launch>
